COMPLAINT_IN.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:dfdlCobolFmt="http://www.ibm.com/dfdl/CobolDataDefinitionFormat" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
  <xsd:import namespace="http://www.ibm.com/dfdl/CobolDataDefinitionFormat" schemaLocation="IBMdefined/CobolDataDefinitionFormat.xsd"/>
  <xsd:complexType name="CUSTOMERCOMPLAINT">
    <xsd:sequence>
      <xsd:element default="0" dfdl:decimalSigned="no" dfdl:length="1" dfdl:textNumberPattern="0+" name="VERSION">
        <xsd:annotation>
          <xsd:documentation>PIC 9 display</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="dfdlCobolFmt:PIC9-Display-Zoned__short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element dfdl:lengthKind="implicit" name="CUSTOMER_NAME">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element default=" " dfdl:length="10" name="N_FIRST">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <initialValue kind="SPACE"/>
                </xsd:appinfo>
                <xsd:documentation>PIC X(10) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PICX__string">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element default=" " dfdl:length="10" name="N_LAST">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <initialValue kind="SPACE"/>
                </xsd:appinfo>
                <xsd:documentation>PIC X(10) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PICX__string">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element dfdl:lengthKind="implicit" name="CUSTOMER_ADDRESS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element default=" " dfdl:length="20" maxOccurs="2" minOccurs="2" name="A_LINE">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <initialValue kind="SPACE"/>
                </xsd:appinfo>
                <xsd:documentation>PIC X(20) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PICX__string">
                  <xsd:maxLength value="20"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element default=" " dfdl:length="10" name="TOWN">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <initialValue kind="SPACE"/>
                </xsd:appinfo>
                <xsd:documentation>PIC X(10) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PICX__string">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element default=" " dfdl:length="10" name="ZIP">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <initialValue kind="SPACE"/>
                </xsd:appinfo>
                <xsd:documentation>PIC X(10) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PICX__string">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element default=" " dfdl:length="2" name="COUNTRY">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <initialValue kind="SPACE"/>
                </xsd:appinfo>
                <xsd:documentation>PIC X(2) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PICX__string">
                  <xsd:maxLength value="2"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element dfdl:lengthKind="implicit" name="COMPLAINT">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element default=" " dfdl:length="10" name="C_TYPE">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <initialValue kind="SPACE"/>
                </xsd:appinfo>
                <xsd:documentation>PIC X(10) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PICX__string">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element default=" " dfdl:length="10" name="C_REF">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <initialValue kind="SPACE"/>
                </xsd:appinfo>
                <xsd:documentation>PIC X(10) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PICX__string">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element default=" " dfdl:length="200" name="C_TEXT">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <initialValue kind="SPACE"/>
                </xsd:appinfo>
                <xsd:documentation>PIC X(200) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PICX__string">
                  <xsd:maxLength value="200"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:annotation>
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format binaryFloatRep="{$dfdl:binaryFloatRep}" byteOrder="{$dfdl:byteOrder}" encoding="{$dfdl:encoding}" ignoreCase="yes" leadingSkip="0" occursCountKind="fixed" ref="dfdlCobolFmt:CobolDataFormat" textNumberPadCharacter="0" textStringJustification="left" textStringPadCharacter="%SP;" textZonedSignStyle="asciiStandard" trailingSkip="0"/>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:annotation>
    <xsd:documentation>
	This XSD was created by importing COBOL copybook.

	Source file:	importFiles\COMPLAINT_IN.cpy

	Import options:
		CODEPAGE=ISO-8859-1
		ENDIAN=Little
		EXTENSION_CBL=FP
		EXTENSION_CCP=FP
		EXTENSION_COB=FP
		EXTENSION_CPY=DS
		EXT_DECIMAL_SIGN=ASCII
		FLOATING_POINT_FORMAT=0
		NSYMBOL=NATIONAL
		NUMPROC=PFD
		PLATFORM_SELECTION=0
		QUOTE=DOUBLE
		REMOTE_ENDIAN=Little
		TRUNC=STD
		SCHEMA_TARGET_NAMESPACE_URI=null
		CREATE_DEFAULT_VALUES_FROM_INITIAL_VALUES=true
		CREATE_FACETS_FROM_LEVEL_88_VALUE_CLAUSES=false
		PRESERVE_CASE_IN_VARIABLE_NAMES=true
		CREATE_NULL_VALUES_FOR_FIELDS=false
		NULL_CHARACTER_FOR_STRING=%SP; 
		NULL_CHARACTER_FOR_NUMBER=%#r00; 
		STRING_PADDING_CHARACTER=%SP;
		NUMBER_PADDING_CHARACTER=0
		DEFAULT_FOR_STRING= 
		DEFAULT_FOR_NUMBER=0

</xsd:documentation>
  </xsd:annotation>
  <xsd:element dfdl:lengthKind="implicit" ibmSchExtn:docRoot="true" name="CUSTOMERCOMPLAINT" type="CUSTOMERCOMPLAINT"/>
</xsd:schema>